h1 {
    color : red;
    font: 100;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/1251561846142533682/1264500303949201469/Team_Bot_2.png?ex=66cc3dad&is=66caec2d&hm=3391e30e15a6185608327f70f993d66aa65e73550ec04421c05da6b735c97b9c&");
}